[*.Tests.cs]
dotnet_diagnostic.CA1707.severity = none # Naming: Identifiers should not contain underscores
dotnet_diagnostic.IDE1006.severity = none

[*.cs]
dotnet_diagnostic.CA1062.severity = none # Design: Validate arguments of public methods [non-nullable reference types => clear intention => no rule]
dotnet_diagnostic.CA2007.severity = none # Reliability: Do not directly await a Task
dotnet_diagnostic.CA1303.severity = none # Globalization: Do not pass literals as localized parameters

dotnet_diagnostic.IDE0160.severity = none # IDE0160: Convert to block scoped namespace
dotnet_diagnostic.IDE0040.severity = none # IDE0040: Add accessibility modifiers
dotnet_diagnostic.IDE0022.severity = none # IDE0022: Use block body for method
dotnet_diagnostic.IDE0011.severity = none # IDE0011: Add braces
dotnet_diagnostic.IDE0008.severity = none # IDE0008: Use explicit type
dotnet_diagnostic.IDE0058.severity = none # IDE0058: Expression value is never used
dotnet_diagnostic.IDE0039.severity = none # IDE0039: Use local function
dotnet_diagnostic.IDE0130.severity = none # IDE0130: Namespace does not match folder structure
dotnet_diagnostic.IDE0021.severity = none # IDE0021: Use block body for constructor